<div data-hook="admin_sale_form_fields" class="align-center row">
  <div class="alpha eight columns">
    <%= f.field_container :variants do %>
      <%= f.label :variants, Spree.t(:variants) %> <span class="required">*</span><br />
      <%= f.text_field :variants, :class => "fullwidth" %>
      <%= f.error_message_on :variants %>
    <% end %>
  </div>

</div>
